$grey:#dddddd;
$brand-primary:#5b4681;
$light-grey:#f9f9f9;
$dark-grey:#777777;

$space : 1.4rem;
$site-max-width:50rem;

$base-font-size:1.4rem;
$large-font-size:1.8rem;

$input-border :$grey;
$input-spacing: 1rem;
$boxed-view-overlay-bg :$grey;
$boxed-view-bg : white;

$button-bg:$brand-primary;
$button-color:white;
$button-pill-color:$brand-primary;
$button-secondary-bg:#f9f9f9;
$button-secondary-border-color:$dark-grey;
$button-secondary-color:$grey;

$header_color : white;
$header_bg : $brand-primary;

$item-bg : $light-grey;
$item-border : darken($item-bg,8%);
$item-text-color:$dark-grey;